<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>酒店搜索</title>
    <link href="css/base.css" rel="stylesheet">
    <link href="css/HotelSearch.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script>
        $(function () {
            $(document).scroll(function () {
                var scrollTo = $(document).scrollTop();
                if(scrollTo >= 300) {
                    $(".map_mask").addClass('float_map_mask');
                    $(".sortBox").addClass('float_sortBox');
                }if(scrollTo < 300) {
                    $(".map_mask").removeClass('float_map_mask');
                    $(".sortBox").removeClass('float_sortBox');
                }if(scrollTo >= 50){
                    $(".search_part").addClass('float_search_part');
                }if(scrollTo < 50){
                    $(".search_part").removeClass('float_search_part');
                }

            })

            //创建地图
            var map = new BMap.Map("little_map");
            //创建地图坐标点,一般首次创建的这个点为地图的中心坐标点
            var point = new BMap.Point(120.024568,30.215855);
            // 初始化地图，设置中心坐标点和地图级数
            map.centerAndZoom(point,10);
            var marker = new BMap.Marker(point);//创建标注
            map.addOverlay(marker);//方法addOverlay() 向地图中添加覆盖物

            var mapPoints = [
                {x:30.312903,y:120.382029,title:"A",con:"我是A",branch:"老大"},
                {x:30.215855,y:120.024568,title:"B",con:"我是B",branch:"老二"},
                {x:30.18015,y:120.174968,title:"C",con:"我是C",branch:"老三"},
                {x:30.324994,y:120.164399,title:"D",con:"我是D",branch:"老四"},
                {x:30.24884,y:120.305074,title:"E",con:"我是E",branch:"老五"}
            ];
            var opt = {
//                anchor: BMAP_ANCHOR_TOP_LEFT,
//                offset: new BMap.Size(150,5)
            }
            map.setCurrentCity("北京");//在设置好地图中心点的前提下显示背景的整体图
            map.enableScrollWheelZoom(true);//在PC端可以通过滚轮放大缩小地图，移动端关闭该功能
            map.addControl(new BMap.NavigationControl(opt));//addControl()向地图添加控件 平移和缩放控件 PC端默认左上角 移动端默认右下角且只有缩放功能
            map.addControl(new BMap.ScaleControl(opt));//比例尺控件 默认左下角
            map.addControl(new BMap.OverviewMapControl(opt));//缩略图控件 默认右下角且呈可折叠状态（点击隐藏和显示）
            map.addControl(new BMap.MapTypeControl());//地图类型控件 默认右上角可切换地图/卫星/三维三种状态
            map.addControl(new BMap.GeolocationControl(opt));//定位控件 默认左下角
            var i = 0;
            function markerFun (points,label,infoWindows) {
                var markers = new BMap.Marker(points);
                map.addOverlay(markers);
                markers.setLabel(label);
                markers.addEventListener("click",function (event) {
                    console.log("0001");
                    map.openInfoWindow(infoWindows,points);//参数：窗口、点  根据点击的点出现对应的窗口
                });
            }
            for (;i<mapPoints.length;i++) {
                var points = new BMap.Point(mapPoints[i].y,mapPoints[i].x);//创建坐标点
                var opts = {
                    width:250,
                    height: 100,
                    title:mapPoints[i].title
                };
                var label = new BMap.Label(mapPoints[i].branch,{
                    offset:new BMap.Size(25,5)
                });
                var infoWindows = new BMap.InfoWindow(mapPoints[i].con,opts);
                markerFun(points,label,infoWindows);
            }
        })
    </script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZG8KAEU4ejvpL5WWZ3lM5RyWCiAfsUYb"></script>
</head>
<body>
    <div class="crumbsBar">
        <div>
            <a>酒店预订</a>
            <strong><i>〉</i>杭州酒店</strong>
        </div>
    </div>
    <div class="selector" style="background-color:#cccccc;">
        <div class="search_part">
            <div class="line_1px" style="height: 3px; background-color: royalblue"></div>
            <ul >
                <li class="txtCity">目的地 <input type="text"></li>
                <li class="txtCheckIn">入住 <input type="date"></li>
                <li class="txtCheckOut">退房 <input type="date"></li>
                <li class="txtRoom">房间数
                    <select>
                        <option>1间</option>
                        <option>2间</option>
                        <option>3间</option>
                    </select>
                </li>
                <li class="txtGuestNum">住客数
                    <select>
                        <option>1人</option>
                        <option>2人</option>
                        <option>3人</option>
                    </select>
                </li>
                <li class="txtKeyWord">关键词 <input type="text"></li>
                <li class="form_button"><i>搜索</i><button></button></li>
            </ul>
        </div>
        <div class="line_1px"></div>
        <div class="s_brand">
            <div class="s_key " style="height: 64px"><strong style="line-height: 30px; padding-left: 10px" >热门精选：</strong></div>
            <div class="s_value height64">
                <ul>
                    <li v-for="(brandInfo, index) in brandInfoList" style="margin-right: 5px"><a ><img :src="brandInfo.brandLogoUrl"></a></li>
                </ul>
                <a class="sl_e_more" >更多<i>∨</i></a>
                <a class="sl_e_more" ><i style="font-size: 20px ; margin-left: -3px">+</i>多选</a>
            </div>
        </div>
        <div class="line_1px"></div>
        <div class="s_category" v-for="(cateTwoInfo, pindex) in cateTwoInfoList">
            <div class="s_key"><strong style="line-height: 30px; padding-left: 10px">位置区域:</strong></div>
            <div class="s_value">
                <ul>
                    <li v-for="(cateThreeInfo, cindex) in cateThreeInfoListArr[pindex]"><a style="color: blue">不限</a></li>
                </ul>
                <a class="sl_e_more" style="margin-top: 5px">更多<i>∨</i></a>
                <a class="sl_e_more" style="margin-top: 5px"><i style="font-size: 20px ; margin-left: -3px">+</i>多选</a>
            </div>
            <div class="line_1px"></div>
        </div>
        <div class="s_category" v-for="(cateTwoInfo, pindex) in cateTwoInfoList">
            <div class="s_key"><strong style="line-height: 30px; padding-left: 10px">星级评价:</strong></div>
            <div class="s_value">
                <ul>
                    <li v-for="(cateThreeInfo, cindex) in cateThreeInfoListArr[pindex]"><a style="color: blue">不限</a></li>
                </ul>
                <a class="sl_e_more" style="margin-top: 5px">更多<i>∨</i></a>
                <a class="sl_e_more" style="margin-top: 5px"><i style="font-size: 20px ; margin-left: -3px">+</i>多选</a>
            </div>
            <div class="line_1px"></div>
        </div>
        <div class="s_senior">
            <div class="s_key"><span style="line-height: 30px; padding-left: 10px">高级选项：</span></div>
            <div class="s_value">
                <a style="color: blue">不限</a>
                <a>优惠促销<i>∨</i></a>
                <a>酒店类型<i>∨</i></a>
                <a>更多<i>∨</i></a>
            </div>
        </div>
        <div class="line_1px"></div>
    </div>

    <div class="mainBox">
        <div class="sortBox">
            <div class="f_line" style="background-color: #f1f1f1;">
                <div class="f_sort">
                    <a href="#"><span>排序&nbsp;</span></a>
                    <a href="#"><span>好评&nbsp;</span><i>↓</i></a>
                    <a href="#"><span>星级&nbsp;</span><i>↓</i></a>
                    <a href="#" class="s-price"><span class="sort-price">价格&nbsp;</span><i class="price-up">△</i><i class="price-down">▽</i></a>
                </div>
                <div class="f-datagrid">
                    <a>
                        <span style="height:15%;"></span>
                    </a>
                    <a><span style="height:85%;"></span></a>
                    <a><span style="height:65%;"></span></a>
                    <a><span style="height:15%;"></span></a>
                    <a><span style="height:15%;"></span></a>
                </div>
                <div class="p_bet" >
                    <input type="text" value="￥">
                </div>
                <i class="my-">-</i>
                <div class="p_bet">
                    <input  type="text" value="￥">
                </div>
            </div>
        </div>
        <div class="hotel_list">
            <ul>
                <li>
                    <img class="search_img" src="//dimg13.c-ctrip.com/images/200f17000001130iz5510_R_200_200.jpg">
                    <div class="hotel_name">
                        <a class="hotel_item_name">
                            <span class="hotel_num">1</span>
                            <i class="icons" > 精选 </i>
                            <strong style="margin: 0px 5px"> 浙江广电开元名都大酒店</strong>
                            <span class="hotel_strategymedal" title="携程战略合作酒店，拥有优质服务、优良品质及优惠房价，供携程会员专享预订" data-role="title"></span>
                        </a>
                        <div title="高档型" class="hotel_diamond04"></div>
                        <div class="hotel_address">
                            【
                            <a>火车城站杭州站</a><a>南宋御街及河坊街 </a>
                            】佑圣观路74号。
                            <a>地图</a>
                        </div>
                        <i class="icons icons1">休闲度假</i>
                        <i class="icons icons1">亲子酒店</i>
                        <div class="icon_list">
                            <i class="icons-facility32" style="background-position: -30px -150px;" title="公共区域免费WIFI" data-fid="120" data-role="title"></i>
                            <i class="icons-facility03" style="background-position: -60px 0;" title="停车场" data-fid="100" data-role="title"></i>
                            <i class="icons-facility13" style="background-position: 0px -60px;" title="餐厅" data-fid="1" data-role="title"></i>
                            <i class="icons-facility28" style="background-position: -90px -120px;" title="接机服务" data-fid="105" data-role="title"></i>
                            <i class="icons-facility14" style="background-position: -30px -60px;" title="健身房" data-fid="42" data-role="title"></i>
                            <i class="icons-facility16" style="background-position: -90px -60px;" title="会议室" data-fid="6" data-role="title"></i>
                        </div>
                        <p class="hotel_item_last_book">最新预订：8分钟前</p>
                    </div>
                    <div class="hotel_judge">
                        <a>
                            <span class="hotel_value">4.7</span>
                            <span class="hotel_level">很好</span>
                            <span class="total_judgement_score"><span style="color:#009933;">98%</span>用户推荐</span>
                            <span class="hotel_judgement">源自<span style="color:#FF9900;">8771</span>位住客点评</span>
                            <span class="recommend">“早餐丰富”<br>“服务周到”</span>
                        </a>
                    </div>
                    <div class="hotel_last">
                        <div class="hotel_price " data-id="396983"><dfn>¥</dfn><span class="J_price_lowList">438</span>起<br></div>
                        <a class="buy_btn">查看详情</a>
                    </div>
                </li>
                <li>
                    <img class="search_img" src="//dimg13.c-ctrip.com/images/200f17000001130iz5510_R_200_200.jpg">
                    <div class="hotel_name">
                        <a class="hotel_item_name">
                            <span class="hotel_num">1</span>
                            <i class="icons" > 精选 </i>
                            <strong style="margin: 0px 5px"> 浙江广电开元名都大酒店</strong>
                            <span class="hotel_strategymedal" title="携程战略合作酒店，拥有优质服务、优良品质及优惠房价，供携程会员专享预订" data-role="title"></span>
                        </a>
                        <div title="高档型" class="hotel_diamond04"></div>
                        <div class="hotel_address">
                            【
                            <a>火车城站杭州站</a><a>南宋御街及河坊街 </a>
                            】佑圣观路74号。
                            <a>地图</a>
                        </div>
                        <i class="icons icons1">休闲度假</i>
                        <i class="icons icons1">亲子酒店</i>
                        <div class="icon_list">
                            <i class="icons-facility32" style="background-position: -30px -150px;" title="公共区域免费WIFI" data-fid="120" data-role="title"></i>
                            <i class="icons-facility03" style="background-position: -60px 0;" title="停车场" data-fid="100" data-role="title"></i>
                            <i class="icons-facility13" style="background-position: 0px -60px;" title="餐厅" data-fid="1" data-role="title"></i>
                            <i class="icons-facility28" style="background-position: -90px -120px;" title="接机服务" data-fid="105" data-role="title"></i>
                            <i class="icons-facility14" style="background-position: -30px -60px;" title="健身房" data-fid="42" data-role="title"></i>
                            <i class="icons-facility16" style="background-position: -90px -60px;" title="会议室" data-fid="6" data-role="title"></i>
                        </div>
                        <p class="hotel_item_last_book">最新预订：8分钟前</p>
                    </div>
                    <div class="hotel_judge">
                        <a>
                            <span class="hotel_value">4.7</span>
                            <span class="hotel_level">很好</span>
                            <span class="total_judgement_score"><span style="color:#009933;">98%</span>用户推荐</span>
                            <span class="hotel_judgement">源自<span style="color:#FF9900;">8771</span>位住客点评</span>
                            <span class="recommend">“早餐丰富”<br>“服务周到”</span>
                        </a>
                    </div>
                    <div class="hotel_last">
                        <div class="hotel_price " data-id="396983"><dfn>¥</dfn><span class="J_price_lowList">438</span>起<br></div>
                        <a class="buy_btn">查看详情</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="map_mask">
            <div class="tool_box">
                <a class="map_link" target="_self" href="//hotels.ctrip.com/hotel/hangzhou17/map" data-dopost="T">看大地图</a>
            </div>
            <div id ="little_map"></div>
        </div>
    </div>




</body>
</html>