body {
    margin: 0;
    background-color: #fff;
}

body {
    font: 12px/1.5 'Microsoft yahei', arial, Simsun, sans-serif;
    color: #333;
    background-color: #fff;
    height: 632px;
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, button {
    margin: 0;
    padding: 0;
}
.reg_form dd input::-webkit-input-placeholder {
    color: #bbb
}
.cui_hd_cont {
    background-color: #fff;
    clear: both;
}

#cui_hd {
    font-family: Arial, tahoma, verdana, "Microsoft YaHei", Simsun, sans-serif;
    line-height: 1.5;
    font-size: 12px;
}

.cui_hd {
    min-width: 980px;
    max-width: 1180px;
    height: 59px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #fff;
}
.ctriplogo {
    position: relative;
    float: left;
    width: 126px;
    padding-top: 8px;
    padding-bottom: 8px;
}
:root .ctriplogo a {
    background-image: url(https://pic.c-ctrip.com/common/c_logo2013_2x.png);
    background-size: 100% 100%;
}
 .ctriplogo a {
     display: block;
     width: 126px;
     height: 43px;
     overflow: hidden;
     text-indent: -999px;
     background: url(https://pic.c-ctrip.com/common/c_logo2013.png) 0 0 no-repeat;
 }
a {
    color: #3882E5;
    text-decoration: none;
}
.ctriplogo .supplier_logo {
    position: absolute;
    top: 8px;
    left: 140px;
    width: 900px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    padding: 18px 0 0 0;
    font-family: Simsun;
    color: #999;
    border-left: 1px solid #E8E8E8;
}
.cui_toolkit {
    float: right;
    width: 422px;
    padding-top: 20px;
    text-align: right;
    color: #bbb;
}
.cui_toolkit a {
    text-decoration: none;
}
 .cui_kefu {
     color: #4c4c4c;
     margin-left: 8px;
 }
.cui_bd {
    margin: 20px auto;
    width: 1000px;
    padding: 0 10px;
    min-height: 500px;
}
.page_wrap {
    position: relative;
    z-index: 1;
    min-height: 350px;
    _height: 350px;
    overflow: hidden;
    *zoom: 1;
}
.step-list {
    margin: 0 0 30px -12px;
    overflow: hidden;
    *zoom: 1;
}
.step-list li.current {
    background-position: 260px -228px;
    color: #799d08;
    _background-position: 260px -230px;
}
.step-list li {
    float: left;
    margin-left: 12px;
    color: #9a9a9a;
    _display: inline;
    background: url(//pic.c-ctrip.com/platform/online/register/un_reg_7.4.png) 260px -285px no-repeat;
}
.step-list li.current span {
    background-color: #acd252;
}
li{
    list-style: none;
}
.step-list span {
    display: inline-block;
    margin-right: 5px;
    width: 275px;
    height: 5px;
    line-height: 0;
    background-color: #ddd;
    border-radius: 3px;
    vertical-align: middle;
    overflow: hidden;
}
.step-list li.current {
    background-position: 260px -228px;
    color: #799d08;
    _background-position: 260px -230px;
}
.reg_form dl {
    padding: 10px 0;
}
#reg_form_dl{
    height: 40px;
}
.reg_form dt {
    float: left;
    margin-right: 10px;
    width: 130px;
    line-height: 36px;
    font-size: 14px;
    text-align: right;
}
.reg_form dd {
    float: left;
    padding-right: 10px;
    _display: inline;
}
.reg_form dd .r_input {
    position: relative;
    width: 283px;
    height: 28px;
    display: inline-block;
    line-height: 28px;
    padding-left: 10px;
    vertical-align: middle;
    font-size: 14px;
    color: #333;
    border-color: #ccc;
}
input[type="text"] {
    border-radius: 0;
}
.r_input {
    height: 24px;
    padding: 5px;
    line-height: 24px;
    border: 1px solid #ddd;
    font-size: 15px;
    color: #bbb;
}
.reg_form .reg_tip {
    clear: both;
    margin-top: -5px;
    padding-left: 140px;
    color: #666;
}
input[type="button"], input[type="submit"] {
    -webkit-appearance: none;
}
.reg_btn {
    background-color: #FF9A14;
}
.reg_btn, .reg_btn_disabled {
    margin-bottom: 8px;
    width: 220px;
    height: 42px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border: 0 none;
    border-radius: 4px;
    clear: both;
}
#base_ft {
    width: 950px;
    clear: both;
    text-align: center;
    padding-top: 15px;
    margin: 0 auto 20px;
    font-family: Arial,verdana;
    color: #4c4c4c;
    font-size: 12px;
}
#base_ft a {
    color: #4c4c4c;
    margin: 0 1px;
    text-decoration: none;
}
.page_wrap.page_wrap-right {
    padding-right: 250px;
}
.page_wrap {
    position: relative;
    z-index: 1;
    min-height: 350px;
    _height: 350px;
    overflow: hidden;
    *zoom: 1;
}
.reg_form dd .r_input.input_noborder {
    border: none;
}
.noborder{
    height: 38px;
}
#dlslideCodeMobile{
    height: 40px;
}
.message{
    height: 40px;
}
.reg_form dd .r_input.input_auth-code {
    width: 188px;
    padding-right: 100px;
}
.reg_form dd .r_input.input_auth-code input {
    border: 0;
    width: 170px;
    height: 28px;
    line-height: 28px;
    outline: 0;
    font-size: 14px;
}
.reg_form dd .r_input.input_auth-code a {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
}
.reg_form .go_prev-step {
    display: inline-block;
    margin: 50px 0 0 140px;
    font-size: 14px;
    color: #666;
}
.reg_form .go_prev-step span {
    font-family: simsun;
}
.right_content {
    position: absolute;
    right: 0;
    top: 70px;
    width: 140px;
    padding: 30px 40px;
    border: 2px solid #DEE6EE;
    font-size: 14px;
    color: #333;
}
.right_content-title {
    margin-bottom: 20px;
}
.right_content-item {
    margin-bottom: 10px;
}
.right_content-item a {
    color: #3882E5;
}
.right_content-item .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #3882e5;
    filter: alpha(opacity=50);
    opacity: 0.5;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
}
.icon-mail-s {
    background: url(//pic.c-ctrip.com/platform/online/my/user/un_sprite_reset.png) -40px -240px no-repeat;
}
.icon-phone-s, .icon-service-s, .icon-mail-s {
    width: 20px;
    height: 20px;
}
.right_content-item span {
    font-family: 'simsun';
    font-size: 16px;
}
.icon-service-s {
    background: url(//pic.c-ctrip.com/platform/online/my/user/un_sprite_reset.png) -20px -240px no-repeat;
}
#yanzheng{
    height: 50px;
}
#step_list{
    width: 1012px;
}
.box_pas_safety {
    margin-top: 3px;
}
.box_pas_safety li {
    float: left;
    height: 26px;
    line-height: 26px;
    padding: 0 16px;
    border-right: 1px solid #fff;
    background-color: #F1D0B9;
    color: #fff;
}
.newpassword{
    height: 40px;
}