/*head部分*/
#head {
    width: 100%;
    height: 78px;
    background-color: white;
    border-bottom: 2px solid #068ff7;
}

#head_bd {
    width: 980px;
    height: 78px;
    margin: 0 auto;
    padding-top: 17px;
}

.head_bd_guide {
    position: relative;
    bottom: -25px;
}

.head_bd_guide span {
    padding-left: 35px;
    color: #3f92f7;
}

/*body部分*/
#main {
    width: 980px;
    height: 656px;
    margin: 5px auto 0;
}

#main_area {
    width: 980px;
    height: 221px;
    background-color: #f4f7fe;
    border-radius: 4px;
    box-shadow: 1px 2px 20px rgba(106, 158, 209, 0.34);
}

#main_pay {
    width: 980px;
    height: 425px;
    margin-bottom: 20px;
}

.price_area {
    width: 320px;
    height: 25px;
    padding: 22px 20px 20px;
    float: left;
}

.order_tit {
    width: 580px;
    height: 104px;
    padding: 22px 20px 20px;
    float: right;
    background-color: #f9fdff;
}

.order_tit h2 {
    font-size: 18px;
    color: #0E2644;
    font-weight: normal;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.order_tit h3 {
    font-size: 14px;
    color: #778CA5;
    font-weight: normal;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-top: 5px;
    margin-bottom: 10px;
}

.tip_area {
    width: 940px;
    height: 54px;
    padding: 10px 0;
    margin: 0 20px;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #E4EEFA;
    float: left;
    color: #596d87;
}

#main_pay {
    width: 980px;
    height: 457px;
    position: relative;
    bottom: -10px;
    box-shadow: 1px 2px 20px rgba(106, 158, 209, 0.34);
    background-color: #FFF;
    margin-bottom: 20px;
}

#tab_tit1 {
    width: 920px;
    height: 54px;
    padding: 0 20px 0 40px;
}

#tab_tit1 ul {
    width: 920px;
    height: 54px;
    list-style: none;
}

#tab_tit1 li {
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
    line-height: 50px;
    color: #ACBDD1;
    cursor: pointer;
    width: 95px;
    *float: left;
    position: relative;
    height: 50px;
    vertical-align: bottom;
    border-bottom: 4px solid transparent;
    z-index: 1;
    text-align: center;
}

#tab_tit1 li.curr {
    color: #1a314d;
    font-weight: bold;
    border-bottom: #406493 solid 4px;
}

#tab_tit1 li:hover {
    color: #1a314d;
    font-weight: bold;
    border-bottom: #406493 solid 4px;
}

#tab_con {
    width: 900px;
    height: 251px;
    padding: 0 40px 40px;
}

.btn_area {
    width: 980px;
    height: 48px;
    padding-top: 25px;
    padding-bottom: 40px;
}


/*全局部分*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    background-color: #DFE8F2;
}

.hidden {
    display: none;
}