#order_head {
    height: 60px;
    background-color: white;
    margin: 0;
    width: 100%;
}

#order_head_body {
    min-width: 980px;
    max-width: 1180px;
    height: 60px;
    margin: 0 auto;
    padding: 0 8px;
}

.head_logo {
    position: relative;
    float: left;
    width: 1030px;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.head_logo .logo_blanket{
    width: 900px;
    height: 25px;
    line-height: 25px;
    padding: 18px 0 0 0;
    border-left: 1px solid #E8E8E8;
    float: right;
}

.head_guide {
    position: relative;
    left: 0;
    top: 20px;
    font-size: 14px;

}
/*头部结束*/
#order_body {
    width: 1180px;
    padding: 20px 10px;
    margin: 0 auto;
}

#order_body_main {
    width: 780px;
    float: left;
    padding-right: 20px;
}

.tips {
    width: 740px;
    height: 126px;
    background-color: #f2f6fa;
    padding: 5px 20px;
    margin-bottom: 10px;
}

.mod_book {
    width: 780px;
    height: 343px;
}

.mod_book_tit {
    margin-top: 30px;
    font: bold 20px/40px Tahoma,Arial,"Microsoft YaHei",sans-serif;
    color: #37474f;
}

.mod_book_bd {
    width: 780px;
    height: 299px;
}

.mod_book_item {
    position: relative;
    padding: 16px 10px 16px 130px;
    line-height: 24px;
    min-height: 24px;
}

#order_body_aside {
    float: left;
    width: 380px;
    background-color: green;
    height: 780px;
}


/*主体结束*/
* {
    padding: 0; /*取消边界留白*/
    margin: 0; /*取消边界留白*/
    /*border: 0;*/
}

body {
    background-color: #e8f1f5;
}

i {
    font-style: italic;
}