body {
    font: 12px/1.5 "Microsoft YaHei",SimSun,Tahoma,Verdana,Arial,sans-serif;
    background-color: #FFFFFF;
    width: 1440px;
    height: 762.89px;
    margin: 0;
    padding: 0;
    color: #666666;
}
a:hover{
    text-decoration: underline;
}
.form_wrap .r_input.input_auth-code.dynamic a {
    color: #3882E5;
}
#phoneLogin:hover{
    text-decoration: none;
}
.changeScanLogin a:hover{
    text-decoration: none;
}
.lg_hd {
    width: 980px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}
.ctriplogo_login {
    float: left;
    width: 126px;
    padding-top: 18px;
    margin: 0;
}
h1, h2, h3, h4, h5, input {
    font-weight: 400;
    font-family: "Microsoft YaHei",SimSun,Tahoma,Verdana,Arial,sans-serif;
    margin: 0;
    padding: 0;
}
.ctriplogo_login a {
    display: block;
    width: 100%;
    height: 43px;
    overflow: hidden;
    text-indent: -999em;
    background: url("../images/login/c_logo2013.png") no-repeat;
}
.tips-security {
    width: 100%;
    padding: 7px 0;
    margin-top: -10px;
    line-height: 16px;
    background: #FFFCD8;
    text-align: center;
    vertical-align: middle;
}
.tips-security .icon-warn {
    margin-right: 6px;
    vertical-align: middle;
}
.icon-warn {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: 0 -191px;
    background-image: url("../images/login/un_bg_pop.png");
    background-repeat: no-repeat;
}
i {
    font-style: italic;
}
a {
    text-decoration: none;
    outline: 0;
    color: #666;
}
.tips-security a:hover {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    color: #666;
}
.lg_bd {
    width: 100%;
    min-height: 540px;
}
.lg_bd, .mod-box {
    position: relative;
}
.lg_banner_wrap {
    width: 100%;
    left: 0;
    overflow: hidden;
}
.lg_banner_list, .lg_banner_wrap {
    position: absolute;
    height: 540px;
    top: 0;
    right: 0;
}
.jmkt-picsroller {
    position: relative;
    z-index: 1;
    filter: progid:DXImageTransform.Microsoft.Fade(duration=0.5);
}
.lg_banner_list {
    left: 50%;
    margin-left: -960px;
    text-align: center;
}
.jmkt-picsroller-pics {
    margin: 0;
    padding: 0;
}
.jmkt-picsroller-pics img {
    border: 0;
    vertical-align: middle;
}
.lg_banner_list img {
    display: block;
}
.mod-box {
    width: 980px;
    /*height: 540px;*/
    margin: 0 auto;
    z-index: 10;
}
.lg_loginwrap {
    position: relative;
    float: right;
    width: 380px;
    min-height: 540px;
    margin-right: 72px;
}
.lg_loginbox {
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
    padding: 30px 30px 20px;
    min-height: 370px;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0,0,0,.1);
}
#lg_loginbox{
    height: 410px;
}
.lg_loginbox .lg_loginbox_title {
    position: relative;
    padding-bottom: 16px;
    font-size: 18px;
    color: #111;
    line-height: 1;
}
.lg_loginbox .lg_loginbox_title .login_phone_number {
    position: absolute;
    right: 0;
    font-size: 12px;
}
.lg_loginbox .lg_loginbox_title .login_phone_number i {
    font-family: Simsun;
    font-style: normal;
    color: #bbb;
    font-size: 13px;
    font-weight: 700;
}
.lg_loginbox_title a:hover{
    text-decoration: underline;
}
.form_wrap{
    width: 320px;
    height: 222px;
}
.form_wrap dl {
    padding: 8px 0;
    clear: both;
    margin: 0;
}
.form_wrap .r_input {
    position: relative;
    width: 300px;
    height: 28px;
    padding: 5px 5px 5px 13px;
    line-height: 28px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.form_wrap .r_input.input_auth-code {
    width: 225px;
    padding-right: 80px;
}
.form_wrap .r_input.input_auth-code input {
    border: none;
    width: 200px;
    height: 28px;
    line-height: 28px;
    outline: 0;
    font-size: 14px;
    background: #fff;
}
dl{
    margin: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
dd{
    margin: 0;
}
.form_wrap .r_input.input_auth-code a {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
}
#sliderdddynamic .cpt-drop-btn {
    border-radius: 4px;
    width: 36px;
    height: 36px;
    border: 2px solid #EBEBEB;
    background: #fff;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
    z-index: 2;
    color: #888;
    font-size: 14px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
 #sliderdddynamic div {
     float: none;
     width: auto;
     height: auto;
     display: block;
     padding: 0;
     margin: 0;
     border: 0px;
     line-height: 1.428571429;
     box-sizing: content-box;
     -moz-box-sizing: content-box;
     -webkit-box-sizing: content-box;
 }
#sliderdddynamic .cpt-img-double-right-outer {
    position: relative;
    height: 14px;
    width: 14px;
    overflow: hidden;
    margin: 11px 0 0 11px;
}
#sliderdddynamic i.cpt-img-double-right {
    position: static;
    display: block;
    background-position: -23px 1px;
}

 #sliderdddynamic .cpt-logo {
     width: 100%;
     height: 100%;
     background: url("../images/login/cap.png") no-repeat;
 }
#sliderdddynamic .cpt-drop-bg {
    background: #7ac23c;
    position: absolute;
    height: 40px;
    left: 0;
    top: 0;
    width: 20px;
    border-radius: 4px;
}
#sliderdddynamic .cpt-bg-bar {
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    -moz-user-select: none;
    overflow: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    border-radius: 4px;
}
#sliderdddynamic .cpt-info-board{
    display: inline-block;
    color: #555;
    z-index: 0;
    height: 40px;
    width: auto;
    white-space: nowrap;
    border-radius: 4px;
    font-weight: bold;
}
#sliderdddynamic {
    position: relative;
    display: block;
    width: 320px;
    height: 40px;
    background: rgb(235,235,235);
    border-radius: 4px;
}
.form_wrap .go_prev-step {
    display: block;
    margin-top: 30px;
    color: #3882E5;
    line-height: 12px;
}
.login-set{
    margin: 4px 0px 13px;
}
.form_wrap dd input::-webkit-input-placeholder{
    color:#bbb
}
.auto-login input {
    margin-right: 5px;
}
.login-entry-dynamic {
    float: right;
    color: #666;
}
.login-set i:hover{
    background-position: 0px -60px;
}
.auto-login input, .login-entry-dynamic .icon-arrowr {
    vertical-align: -2px;
}
.icon-arrowr{
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/login/un_login_20170818.png") no-repeat;
}
.login-entry-dynamic {
    float: right;
    color: #666;
}
input[type=button], input[type=submit] {
    -webkit-appearance: none;
}
.form_btn {
    background-color: #FF9A14;
}
.form_btn--block {
    width: 100%;
}
.form_btn, .form_btn_disabled {
    height: 42px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border: 0;
    border-radius: 4px;
    clear: both;
}
.agreement-list {
    margin-top: 5px;
    color: #999;
    line-height: 12px;
    text-align: center;
}
.agreement-list a {
    padding: 0 3px;
    color: #999;
    border-bottom: 1px dotted #999;
}
.agreement-list a:hover{
    color: #666666;
}
.form_btn:hover{
    background-color:#CC7B10
}
.lg_weblogin {
    margin-top: 52px;
}
.lg_weblogin .login-about {
    margin-bottom: 20px;
    line-height: 1;
}
.lg_weblogin .login-about .sep {
    padding: 0 10px;
    color: #ccc;
}
.lg_weblogin .login-other {
    text-align: left;
    margin-right: -18px;
}
.lg_weblogin .login-other a {
    margin-right: 18px;
}
.icon-163, .icon-alipay, .icon-baidu, .icon-qq, .icon-renren, .icon-sina, .icon-wechat, .icon-weibo {
    display: inline-block;
    background: url("../images/login/un_login_third.png") no-repeat;
    vertical-align: middle;
}
.icon-qq {
    background-position: -35px 0;
}
.icon-163, .icon-alipay, .icon-baidu, .icon-qq, .icon-renren, .icon-sina, .icon-wechat {
    width: 30px;
    height: 0;
    padding-top: 30px;
    overflow: hidden;
}
.form_wrap .r_input.input_country-code .link_code {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-position: 0 -20px;
    vertical-align: middle;
}
.lg_loginbox.lg_ercode .er_scan_wrap.er_code {
    position: relative;
}
.lg_loginbox.lg_ercode .er_scan_wrap {
    margin-top: 24px;
    height: 180px;
    vertical-align: bottom;
}
.lg_loginbox.lg_ercode .er_scan_wrap.er_code img#qrcode_img {
    position: relative;
    left: 85px;
}
#qrcode_img{
    position: absolute;
}
.lg_loginbox.lg_ercode .er_scan_wrap.er_code img {
    margin-top: 30px;
}
.lg_loginbox.lg_ercode .er_scan_wrap.er_code img#appScan {
    margin-top: 0;
    display: inline-block;
    opacity: 0;
}
.lg_loginbox.lg_ercode .er_scan_wrap.er_code .er_void {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 50%;
    margin-left: -75px;
    top: 30px;
    bottom: 0;
    background: #666;
    background: rgba(102,102,102,.95);
    filter: alpha(opacity=95)\9;
    text-align: center;
}
.lg_loginbox.lg_ercode .er_scan_wrap.er_code .er_void .void_text {
    margin: 50px 0 16px;
    font-size: 18px;
    color: #FFF;
    line-height: 1;
}
.lg_loginbox.lg_ercode .er_scan_wrap.er_code .er_void .void_text {
    margin: 50px 0 16px;
    font-size: 18px;
    color: #FFF;
    line-height: 1;
}
.lg_loginbox.lg_ercode .er_text {
    margin-top: 25px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.lg_loginbox.lg_ercode .er_text a {
    padding: 0 5px;
    color: #2577E3;
}
.icon-computer {
    width: 13px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/login/un_login_20170818.png") -20px -60px no-repeat;
}
.link_code {
    display: inline-block;
    vertical-align: middle;
    background: url("../images/login/un_login_20170818.png") no-repeat;
}
.lg_weblogin .login-about a.free-regist {
    float: right;
    color: #3882E5;
}
.icon-wechat {
    background-position: -140px 0;
}
.icon-sina {
    background-position: -105px 0;
}
.icon-baidu {
    background-position: -70px 0;
}
.login-about a:hover{
    text-decoration: underline;
}
.icon-alipay:hover{
    background-position: 0px -35px;
}
.icon-qq:hover{
    background-position: -35px -35px;
}
.icon-baidu:hover{
    background-position: -70px -35px;
}
.icon-sina:hover{
    background-position: -105px -35px;
}
.icon-wechat:hover{
    background-position: -140px -35px;
}
.lg_loginwrap .login-code {
    position: absolute;
    top: 10px;
    right: -32px;
    width: 14px;
    height: 86px;
    padding: 9px;
    background: #3882E5;
    -webkit-box-shadow: 0 1px 6px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.1);
}
.lg_loginwrap .login-code a {
    font-size: 13px;
    color: #FFF;
    line-height: 16px;
}
.icon-ercode {
    width: 13px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/login/un_login_20170818.png") no-repeat;
 }
.icon-ercode{
    background-position: -20px 0px;
}
.base_ft_wrap#base_ft {
    margin-top: 55px;
    border-top: 1px dashed #9ECCF5;
    padding-top: 20px;
}
#base_ft p {
    margin: 0;
    padding: 0;
}
#base_ft a {
    color: #4c4c4c;
    white-space: nowrap;
    text-decoration: none;
}
#base_ft {
    width: 980px!important;
    clear: both;
    text-align: center;
    padding-top: 15px;
    margin: 0 auto 20px;
    line-height: 1.5;
    font-family: Arial,verdana!important;
    color: #4c4c4c;
    font-size: 12px;
}
#base_ft a:hover{
    text-decoration: underline;
}