body {
    font-family: "Microsoft yahei", arial, Simsun, sans-serif;
    background-color: #FFF;
    font-size: 12px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 1443px;
}

form {
    display: block;
    margin: 0;
    padding: 0;
}
.cui-nav-bar {
    font: 12px/1.5 "Microsoft yahei", arial, Simsun, sans-serif;
    color: #333;
    background: #F4F4F4;
    height: 36px;
    width: 1440px;
}
.cui-nav-bar .nav-bar-cont {
    position: relative;
    z-index: 27;
    min-width: 980px;
    max-width: 1180px;
    height: 36px;
    margin: 0 auto;
}
.cui-nav-bar .slogan {
    font-size: 12px;
    color: #666;
    display: inline-block;
    margin: 10px 0 0 14px;
}
.cui-nav-bar ul.language {
    padding: 0;
    _overflow: hidden;
}
.cui-nav-bar .language {
    position: absolute;
    left: 103px;
    top: 0;
    /* margin: 0 0 0 14px; */
}
.cui-nav-bar ul, .cui-nav-bar ol {
    list-style: none;
}
.cui-nav-bar .language li {
    position: relative;
    z-index: 31;
}
.cui-nav-bar .language li .selected {
    display: inline-block;
    margin-top: 0px;
    color: #666;
    font-size: 12px;
}
.cui-nav-bar a {
    color: #3983e5;
    text-decoration: none;
}
.cui-nav-bar .language li .selected span {
    position: relative;
    z-index: 112;
    display: inline-block;
    padding: 0px 15px 0px 13px;
    *padding: 0px 15px 0px 13px;
    line-height: 35px;
    border: 1px solid transparent;
}
.cui-nav-bar .language li .ico-global {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 2px;
    *margin-right: 4px;
    background-position: -8px -8px;
}
.cui-nav-bar .ico-global, .cui-nav-bar b.n-arrow, .cui_hd b.n-arrow, .cui-nav-bar .set-list.set-infor .infor-notice, .cui-nav-bar .set-list.set-phone .person-text span .ico_app, .cui-nav-bar .set-list.set-phone .phone-drowndrop .ctrip-app .arrow-right, .cui-nav-bar .set-list.set-wechat .person-text span .ico_wechat, .cui-nav-bar .set-list.set-business-travel-list .ico-business-travel, .cui-nav-bar .set-list.set-business-travel-list.my_current .ico-business-travel, .cui-nav-bar .set-list.set-business-travel-list.my_current b.n-arrow, .cui-nav-bar .set-list.set-business-travel-list .nav-myctrip:hover .n-arrow {
    background-image: url(//pic.c-ctrip.com/platform/online/home/sprite2019527.png);
    background-repeat: no-repeat;
}
.cui-nav-bar .set-list.set-infor .infor-num {
    font-size: 12px;
    cursor: pointer;
    color: #666666;
}
b {
    font-weight: bold;
}
.cui-nav-bar .nav-bar-set {
    position: absolute;
    right: 0;
    top: 0;
    height: 36px;
}
.cui-nav-bar b.n-arrow, .cui_hd b.n-arrow {
    display: inline-block;
    width: 8px;
    height: 5px;
    vertical-align: middle;
    margin-left: 2px;
    overflow: hidden;
    background-position: -46px -58px;
}
.cui-nav-bar .set-list.myctrip-name {
    border-right: none;
}
.cui-nav-bar .set-list {
    float: left;
    height: 12px;
    line-height: 12px;
    margin: 11px 0 0 0;
    border-right: 1px solid #DDDDDD;
    position: relative;
    z-index: 31;
}
.cui-nav-bar .person-text {
    display: inline-block;
    margin: -12px -1px 0;
}
.cui-nav-bar .set-list.myctrip-name .person-text .set-text {
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.cui-nav-bar .person-text .set-text {
    position: relative;
    z-index: 112;
    display: inline-block;
    padding: 12px 0px;
    *padding: 12px 0px 5px 0;
    width: 92px;
    color: #666;
    text-align: center;
    border: 1px solid transparent;
    border-bottom: none;
}
.cui-nav-bar .member-name {
    *padding-top: 2px;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}
.cui-nav-bar b.n-arrow, .cui_hd b.n-arrow {
    display: inline-block;
    width: 8px;
    height: 5px;
    vertical-align: middle;
    margin-left: 2px;
    overflow: hidden;
    background-position: -46px -58px;
}
.cui-nav-bar .set-list.set-infor {
    padding: 1px 16px 0px;
    *padding: 0px 16px;
    *margin-top: 10px;
}
.cui-nav-bar .set-list.set-infor .infor-notice {
    display: inline-block;
    width: 14px;
    height: 12px;
    vertical-align: middle;
    margin-right: 2px;
    overflow: hidden;
    background-position: -8px -66px;
}
.cui-nav-bar .set-list.set-infor .infor-num span {
    color: #FF6600;
    margin-left: 2px;
}
.cui-nav-bar b.n-arrow, .cui_hd b.n-arrow {
    display: inline-block;
    width: 8px;
    height: 5px;
    vertical-align: middle;
    margin-left: 2px;
    overflow: hidden;
    background-position: -46px -58px;
}
.cui-nav-bar .set-list.set-phone {
    height: 12px;
    line-height: 12px;
    margin: 11px 0 0 0;
    border-right: none;
}
.cui-nav-bar .set-list.set-phone .person-text .set-text .ico_app {
    height: 16px;
    width: 10px;
    display: inline-block;
    overflow: hidden;
    background-position: -100px -67px;
}
.cui-nav-bar .set-list.set-wechat {
    height: 12px;
    line-height: 12px;
    margin: 11px 0 0 0;
    border-right: none;
}
.cui-nav-bar .set-list.set-wechat .person-text .set-text .ico_wechat {
    height: 18px;
    width: 18px;
    display: inline-block;
    overflow: hidden;
    background-position: -97px -99px;
}
.cui-nav-bar .set-list.set-phone .person-text .set-text {
    padding: 10px 16px 9px;
    *padding: 10px 16px 10px;
    width: auto;
}
.cui-nav-bar .person-text.nav-per .set-text {
    width: 80px;
    *padding-top: 14px;
}
.cui_search button {
    background-image: url(//pic.c-ctrip.com/platform/online/home/un_header_footer20160610.png);
    background-repeat: no-repeat;
}
.cui-nav-bar .set-list.set-wechat .person-text .set-text {
    padding: 10px 16px 7px;
    *padding: 10px 16px 8px;
    width: auto;
}
.base_nav {
    margin-bottom: 10px;
}
.cui_hd_cont {
    width: 1440px;
    height: 80px;
    background: #fff;
    *zoom: 1;
}
.cui_hd {
    font: 12px/1.5 "Microsoft yahei", arial, Simsun, sans-serif;
    color: #333;
    position: relative;
    z-index: 26;
    min-width: 980px;
    max-width: 1180px;
    height: 80px;
    margin: 0 auto;
}
.cui_hd .ctriplogo {
    position: relative;
    z-index: 10;
    display: inline-block;
    width: 126px;
    height: 43px;
    margin: 18px 0;
    overflow: hidden;
}
.cui_hd .ctriplogo a {
    display: block;
    width: 126px;
    height: 43px;
    background: url(//pic.c-ctrip.com/common/c_logo2013.png) no-repeat;
    text-indent: -999px;
    overflow: hidden;
}
.cui_hd a {
    color: #3983e5;
    text-decoration: none;
}
.cui_hd .cui_search {
    position: absolute;
    top: 25px;
    left: 170px;
    z-index: 10;
    width: 28%;
    font-family: "Microsoft Yahei", Tahoma;
}
.cui_hd .cui_search input[type="text"] {
    border-radius: 4px;
}
.cui_hd .cui_search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 28px;
    padding: 0 45px 0 5px;
    line-height: 28px \9;
    font-size: 12px;
    font-family: "Microsoft Yahei", Tahoma;
    border: 1px solid #8ebefc;
    box-shadow: 2px 2px 1px 0 rgba(164, 203, 255, 0.25) inset;
    outline: 0 none;
}
.cui_hd .cui_search button {
    position: absolute;
    top: 1px;
    right: -51px;
    width: 42px;
    height: 28px;
    cursor: pointer;
    border: 0 none;
    background-color: #a4cbff;
    background-position: -52px -603px;
    border-radius: 0;
}
.cui_hd .nav-tel {
    position: absolute;
    right: 0;
    top: 10px;
    font-family: Arial, tahoma, verdana, "Microsoft YaHei", Simsun, sans-serif;
    padding: 10px 20px 0px 16px;
    border: 1px solid #fff;
}
.cui_hd .nav-tel-list {
    text-align: right;
    color: #666;
    font-size: 12px;
    line-height: 20px;
}
.cui_hd ul, .cui_hd ul li, #base_ft ul {
    list-style: none;
}
.cui_hd .tel-list-more {
    display: none;
}
.cui_hd .nav-tel .n-arrow {
    position: absolute;
    top: 28px;
    right: 9px;
}

.cui-nav-bar b.n-arrow, .cui_hd b.n-arrow {
    display: inline-block;
    width: 8px;
    height: 5px;
    vertical-align: middle;
    margin-left: 2px;
    overflow: hidden;
    background-position: -46px -58px;
}
#cui_nav, #header {
    position: relative;
    z-index: 22;
}

#cui_nav {
    font-family: 'microsoft yahei', Arial, sans-serif;
    text-align: left;
    font-size: 12px;
    width: 100%;
}

.cui_nav_single {
    width: 1440px;
    height: 40px;
    font: 12px/1.5 "Microsoft yahei", arial, Simsun, sans-serif;
    color: #333;
    margin-bottom: 10px;
}
.cui_nav_single .base_nav {
    margin-bottom: 10px;
}
.base_nav {
    width: 100%;
    height: 40px;
    background-color: #2577e3;
    margin: 0 auto 54px;
}
.cui_nav {
    position: relative;
    z-index: 25;
    min-width: 980px !important;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    background-color: #2577e3;
}
.cui_nav li {
    float: left;
    display: inline-block;
    height: 40px;
    _float: none;
    _display: inline;
    _zoom: 1;
    _vertical-align: top;
}
.cui_nav li a.cui_nav_has, .cui_nav li a.cui_nav_non {
    position: relative;
    display: block;
    height: 40px;
    padding: 0 11px;
    color: #fff;
    _float: left;
    cursor: pointer;
}
.cui_nav li a {
    font-size: 15px;
    transition: all 0.2s ease 0s;
}

.cui_nav_single a {
    text-decoration: none;
}
.cui_nav li.divider {
    width: 1px;
    height: 14px;
    padding-left: 0;
    margin: 13px 0 0;
    background-color: #1d67dd;
    clear: none;
    border: none;
}
.cui_nav li i.cui_ico_triangle {
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    margin-left: 5px;
    vertical-align: middle;
    border-top: 3px solid #fff;
    border-bottom: 0 none;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    _color: #ff3fff;
    _filter: chroma(color=#ff3fff);
    -webkit-transition: transform 0.2s ease 0s;
    transition: transform 0.2s ease 0s;
}
.cui_nav_has .point {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -7px;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    border-bottom: 7px solid #fff;
    border-top: 0 none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    _color: #ff3fff;
    _filter: chroma(color=#ff3fff);
}
.cui_subnav_wrap {
    display: none;
    white-space: nowrap;
    position: absolute;
    z-index: 8;
    left: 0;
    top: 40px;
    line-height: 40px;
    color: #666;
    width: 100%;
    background-color: #fff;
}
#cui_nav_hotel .cui_sub_nav, #cui_nav_vac .cui_sub_nav {
    padding-left: 16px;
}
.cui_sub_nav {
    width: auto !important;
    height: 37px;
    line-height: 37px;
    margin: 0;
    border: 1px solid #2577e3;
    border-top: none;
    font-size: 14px;
}
#base_wrapper {
    width: auto;
    height: 1132px;
    max-width: 1180px;
    min-width: 980px;
    margin: 0 auto;
    overflow: visible;
    padding: 0 10px 10px;
}

#base_bd {
    width: 1180px;
    height: 1122px;
    margin-bottom: 10px;
    zoom: 1;
}

#main {
    position: relative;
    z-index: 21;
    width: 1180px;
    height: 1112px;
    /*background-color: #bbbbbb;*/
}

.myctrip_wrap {
    width: 1180px;
    height: 1112px;
    position: relative;
    min-width: 1000px;
    max-width: 1180px;
    margin: -10px auto 0;
}

.aside {
    float: left;
    width: 160px;
    margin-top: 10px;
    margin-right: 0;
    border-top: 1px solid #2577e3;
    border-bottom: 1px solid #2577e3;
}

#index {
    width: 153px;
    height: 42px;
    padding-left: 5px;
}

.clearfix {
    zoom: 1;
}
#sidenav {
    width: 161px;
    height: 473px;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, button {
    margin: 0;
    padding: 0;
}

dt {
    display: block;
}

ul, li {
    list-style: none;
}

.sidenav {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ececec;
    font-family: microsoft yahei;
    color: #333;
    zoom: 1;
}

.sidenav .selected {
    width: auto;
    border-left-color: #2577e3;
    border-right-color: #fff;
    background-color: #06c;
    color: #06c;
}

.sidenav dt a {
    font-size: 14px;
    padding-left: 5px;
}

.sidenav a {
    position: relative;
    z-index: 1;
    display: block;
    line-height: 1;
    padding-left: 4px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    color: #333;
    _zoom: 1;
    text-decoration: none;
}

.sidenav a:hover {
    color: #06c;
}

.sidenav .selected span {
    background-color: #fff;
}

.sidenav dt a span {
    display: block;
    padding: 14px 10px 14px 14px;
}

.sidenav dt .ico_arr {
    top: 18px;
    right: 10px;
}

.sidenav .ico_arr {
    position: absolute;
    border: 5px solid #fcfcfc;
    border-top-color: #afafaf;
    border-bottom: 0 none;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    -webkit-transition: -webkit-transform .3s ease-in;
    transition: transform .3s ease-in;
}

.main {
    width: 1010px;
    height: 1091px;
    position: relative;
    padding: 10px 0 10px 8px;
    margin-left: 160px;
    margin-bottom: 10px;
    border: solid #e8e8e8;
    border-width: 0 1px 1px 1px;
    background: #efefef;
    max-width: 1010px;
    min-width: 810px;
    min-height: 500px;
}

.main_c {
    float: left;
    width: 730px;
    height: 900px;
    padding-right: 0;
}

.main_r {
    float: right;
    width: 270px;
    height: 1091px;
    padding-right: 0;
    margin-top: 0;
    overflow: hidden;
}

.main_c .member-box, .main_c .account-box {
    margin-right: 0px;
}

.member-box {
    position: relative;
    height: 104px;
    background: #4baaec url(//pic.c-ctrip.com/platform/online/my/home/bg-member-info.png) 0 0 no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

:root .message-alert {
    -webkit-filter: none;
    filter: none;
    background-color: rgba(255, 255, 255, 0.3);
}

.message-alert {
    position: absolute;
    right: -217px;
    top: 20px;
    width: 200px;
    height: 55px;
    padding: 5px 10px 5px 65px;
    background: rgba(255, 255, 255, 0.3);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #001e3b;
    cursor: pointer;
}

.home-mail {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 44px;
    height: 44px;
}

.home-mail .i-mail {
    position: absolute;
    top: 12px;
    left: 10px;
}

.i-mail {
    width: 25px;
    height: 19px;
}

.i-mail {
    display: inline-block;
    background: url(//pic.c-ctrip.com/h5/rwd_myctrip/pc/un_home_member.png) 0 -24px no-repeat;
    vertical-align: middle;
}

.member-info {
    position: relative;
    padding: 15px 275px 0 125px;
    color: #FFF;
}

.member-pic {
    position: absolute;
    top: 12px;
    left: 30px;
    width: 78px;
    height: 78px;
    overflow: hidden;
}

.member-pic-bg {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 78px;
    height: 78px;
    background: url(//pic.c-ctrip.com/platform/online/my/home/border-head.png) no-repeat left top;
    -webkit-animation: rotateIn 1s both 1s;
    animation: rotateIn 1s both 1s;
}

.member-pic img {
    border-radius: 50%;
    margin: 5px 0 0 5px;
}

.member-name {
    margin: 15px 0 5px 0;
}

.member-name .member-id {
    display: inline-block;
    max-width: 190px;
    line-height: 24px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    -webkit-text-shadow: 2px 2px 2px rgba(17, 119, 191, 0.5);
    -ms-text-shadow: 2px 2px 2px rgba(17, 119, 191, 0.5);
    text-shadow: 2px 2px 2px rgba(17, 119, 191, 0.5);
}

.member-name .account-security {
    padding-left: 25px;
    vertical-align: middle;
}

.member-name a:hover {
    text-decoration: underline;
}

.member-level {
    position: absolute;
    top: 52px;
    left: 95px;
    padding: 5px 30px 0;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

a {
    color: #0053aa;
    text-decoration: none;
}

.account-box {
    width: 710px;
    padding: 5px 10px;
    height: 36px;
    overflow: hidden;
    background: #fff;
}

.account-box li {
    position: relative;
    float: left;
    display: inline;
    margin: 0 .8%;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center;
    color: #999;
    border-right: 1px solid #efefef;
}

.account-giftcard, .account-money {
    width: 23%;
}

.account-box .f-price, .account-box .f-blue {
    height: 19px;
    overflow: hidden;
    display: inline-block;
}

.account-box li a {
    vertical-align: -2px;
}

.f-blue {
    color: #3e85e2;
}

.account-box .tag-blue {
    position: absolute;
    right: 10px;
    bottom: 2px;
}

.tag-blue {
    color: #3E85E2;
    background: #fff;
    border: 1px solid #dedede;
    display: inline-block;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1;
    border-radius: 2px;
}

.account-cash, .account-mileage, .account-coupons {
    width: 15%;
}

.home-tab {
    height: 49px;
    margin-top: 10px;
    line-height: 49px;
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid #e8e8e8;
    background-color: #FFF;
}

.home-tab .current {
    height: 47px;
    color: #3e85e2;
    border-bottom: 3px solid #2577e3;
    cursor: default;
}

.home-tab li {
    float: left;
    width: 140px;
    height: 49px;
    font-family: microsoft yahei;
}

.home-none {
    position: relative;
    height: 190px;
    line-height: 190px;
    text-align: center;
    font-size: 15px;
    background-color: #FFF;
}

.home-none .none-product-favorite {
    display: inline-block;
    width: 112px;
    height: 108px;
    background: url(//pic.c-ctrip.com/platform/online/my/home/un_home_none.png) 0 -110px no-repeat;
    vertical-align: middle;
}

.order-list {
    font-size: 14px;
    font-family: microsoft yahei;
}

.home-order-list li {
    margin-bottom: 0;
    margin-top: -1px;
    *margin-top: 0;
    border: 0 none;
    border-top: 1px solid #e8e8e8;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.order-list li {
    position: relative;
    padding: 15px 20px 15px 60px;
    /*margin-bottom: 10px;*/
    /*border: 1px solid #e8e8e8;*/
    /*-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);*/
    /*box-shadow: 0 1px 4px rgba(0,0,0,0.2);*/
    background: #fff;
}

.order-list .order-hd {
    position: absolute;
    left: 0;
    top: 15px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 60px;
    text-align: center;
    overflow: hidden;
}

.type-hotel {
    background-position: 0 0;
}

.order-type {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 2px;
    background: #78cff3 url(//pic.c-ctrip.com/platform/online/my/home/un_order@20180321.png) no-repeat;
}

.home-order-list .order-cont {
    padding-right: 0;
}

.order-list .order-cont {
    position: relative;
    padding: 0 270px 0 0;
}

.order-list .order-cont a {
    cursor: pointer;
    display: block;
    padding: 0;
    margin: 0;
}

.order-list .order-cont h2 {
    margin-bottom: 5px;
    font: 16px/27px "Microsoft yahei", arial, Simsun, sans-serif;
    color: #222;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.status-position {
    position: absolute;
    text-align: right;
    right: 0px;
    top: 0px;
    height: 27px;
    line-height: 27px;
    color: #e7e7e7;
}

.order-list .order-price {
    display: inline-block;
    word-break: break-all;
    color: #f60;
    margin: 0 10px;
}

.f-price {
    font-family: 'Tahoma';
    color: #227BEF;
}

.order-list .order-price dfn {
    font-size: 14px;
}

.f-price dfn {
    margin-right: 2px;
    font-size: 12px;
    font-family: arial;
    font-weight: normal;
}

dfn {
    font-style: normal;
    font-family: Arial;
}

.order-list .order-status-success {
    color: #2bbb38;
    display: inline-block;
    margin: 0 10px;
}

.order-list .order-status {
    display: inline-block;
    margin: 0 10px;
    color: #666;
}

.order-list .order-cont .order-info {
    margin-top: 5px;
    font: 14px/1.5 "Microsoft yahei", arial, Simsun, sans-serif;
    color: #888;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.order-list .order-cont .order-info {
    margin-top: 5px;
    font: 14px/1.5 "Microsoft yahei", arial, Simsun, sans-serif;
    color: #888;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.onhref {
    width: 650px;
    height: 79px;
    font-size: 14px;
    margin: -1px 0px 0px;
    padding: 15px 20px 15px 60px;
}

.onhref:hover {
    background-color: #b8dddd;
    cursor: pointer;
}
.favorite-list li:hover{
    background-color: #b8dddd;
    cursor: pointer;
}
.list-wrap {
    background: #fff;
    overflow: hidden;
}

.home-none .none-product-favorite {
    display: inline-block;
    width: 112px;
    height: 108px;
    background: url(//pic.c-ctrip.com/platform/online/my/home/un_home_none.png) 0 -110px no-repeat;
    vertical-align: middle;
}

.favorite-list {
    width: 730px;
    padding: 10px;
    min-height: 100px;
    overflow: hidden;
    margin-left: -20px;
    font: 12px/14px "Microsoft yahei";
}

.favorite-list li {
    position: relative;
    float: left;
    width: 325px;
    height: 74px;
    padding: 10px;
    margin: 5px 0 5px 20px;
    cursor: pointer;
}

.favorite-list li a {
    display: block;
    height: 74px;
}

.favorite-list .fav-pic {
    position: relative;
    float: left;
    width: 74px;
    height: 74px;
    overflow: hidden;
}

.favorite-list .fav-pic .fav-tag {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 2px;
    color: #fff;
    background: #000;
    background: rgba(0, 0, 0, 0.6);
}

.favorite-list .fav-pic img {
    width: 74px;
    height: 74px;
    vertical-align: top;
}

img, fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.favorite-list h4 {
    margin: 1px 0 3px 84px;
    max-height: 36px;
    overflow: hidden;
    color: #666;
    font: 14px/18px "Microsoft yahei";
}

.favorite-list p {
    margin-left: 84px;
}

.item-info {
    height: auto;
    text-align: left;
    color: #999;
    margin: 2px 0 5px 84px;
}

.favorite-list .fav-score {
    color: #999;
}

.favorite-list .fav-price {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
    color: #666;
}

.favorite-list .fav-price em {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 22px;
    color: #f60;
    vertical-align: -2px;
    *padding-bottom: 10px;
}

.favorite-list .item-thumbnail {
    position: relative;
    float: left;
    width: 74px;
    height: 74px;
    margin: 0;
}

.product-item_search h4 {
    margin-top: 4px;
}

.favorite-list h4 {
    margin: 1px 0 3px 84px;
    max-height: 36px;
    overflow: hidden;
    color: #666;
    font: 14px/18px "Microsoft yahei";
}

.favorite-list .item-thumbnail > i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -22px 0 0 -22px;
}

.icon-pd-hotel {
    display: inline-block;
    width: 44px;
    height: 44px;
    vertical-align: middle;
    background: url(//pic.c-ctrip.com/platform/online/my/home/un_history.png);
}

.item-info p {
    height: auto;
    margin-left: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.8;
    overflow: hidden;
}

.box_widget_app, .box_widget_bbs, .box_widget_privilege, .box_widget_member {
    float: none;
    width: 100%;
}

.box_widget_tit h3 {
    padding-left: 10px;
    font: 14px/30px microsoft yahei;
    color: #666;
}

.box_widget .list_apply {
    padding: 20px 0 10px;
}

.list_apply li {
    float: left;
    display: inline-block;
    *display: inline;
    width: 62px;
    margin-bottom: 10px;
    text-align: center;
}

.list_apply li a {
    display: block;
    color: #666;
}

.list_apply .ico_apply {
    display: block;
    margin: 0 auto 7px;
    cursor: pointer;
}

.i_apply_grow {
    background-position: 0 0;
}

.ico_apply {
    display: inline-block;
    width: 36px;
    height: 32px;
    background: url(//pic.c-ctrip.com/platform/online/my/home/un_apply_160829.png) 0 0 no-repeat;
    vertical-align: middle;
    overflow: hidden;
}

.i_apply_flifo {
    width: 38px;
    background-position: 0 -74px;
}

.i_apply_integral {
    background-position: -40px -76px;
}

.i_apply_rss {
    background-position: -72px 0;
}

.box_widget_tit .more {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 30px;
    color: #3E85E2;
}

.box_widget .list_apply {
    padding: 20px 0 10px;
}

.i_apply_guide {
    background-position: 0 -32px;
}

.i_apply_faqs {
    background-position: -36px -32px;
}

.i_apply_travels {
    background-position: -72px -32px;
}

.i_apply_share {
    background-position: -108px -32px;
}

.box_widget_privilege {
    clear: none;
    float: none;
    width: 100%;
}

.box_widget_privilege dd {
    margin-bottom: 10px;
    color: #666;
}

li {
    text-align: -webkit-match-parent;
}

.box_widget_privilege, .box_widget_member {
    position: relative;
    _overflow: hidden;
    height: auto;
    background: none;
}

.box_widget_privilege .box_widget_con {
    margin-top: 10px;
    padding: 0 10px;
}

.box_widget_privilege .box_widget_inner {
    margin-bottom: 0px;
}

.box_widget_privilege dt {
    font: bold 12px/2 microsoft yahei;
    color: #ff9a14;
}

.box_widget_privilege dd {
    margin-bottom: 10px;
    color: #666;
}

.box_widget_member {
    position: relative;
    float: none;
    width: 100%;
    height: auto;
}

.box_widget_member .box_widget_con {
    padding: 0px 0 20px;
}

.box_widget_member .box_widget_inner li {
    float: left;
    width: 47%;
}

.box_widget_member li {
    float: left;
    width: 100%;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box_widget_member li a {
    color: #3E85E2;
}

.box_widget_member .divide {
    z-index: 1;
    position: absolute;
    left: 15px;
    top: 42%;
    margin: -83px 0 0;
    width: 233px;
    height: 1px;
    border: 0 none;
    background: #e8e8e8;
}

.divide {
    width: 100%;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-top: 1px solid #e8e8e8;
}

.box_widget_member .widget_bind_weixin {
    position: relative;
    height: 180px;
    padding: 12px 20px 14px 20px;
    margin: 0;
    float: none;
    width: auto;
}

.box_widget_member .box_widget_inner {
    position: static;
    padding: 10px 20px;
    float: none;
    width: auto;
    border: solid #e8e8e8;
    border-width: 1px 0 1px 0;
}

.box_widget_inner {
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    min-height: 130px;
    background: #fff;
}

.widget_bind_weixin h5 {
    padding-top: 30px;
    padding-left: 10px;
    font: 18px/24px microsoft yahei;
    color: #1cb9b0;
}

.widget_bind_weixin h5 em {
    display: block;
    color: #42990e;
}

.widget_bind_weixin p {
    position: relative;
    z-index: 2;
    padding: 6px 6px 6px 50px;
    margin-top: 24px;
    margin-right: 6px;
    font: 12px/1.5 microsoft yahei;
    color: #333;
    background: #fff;
    background: rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.widget_bind_weixin p .i_mbwx_richscan {
    position: relative;
    float: left;
    margin-top: 4px;
    margin-left: -41px;
}

.i_mbwx_richscan {
    width: 36px;
    height: 28px;
    background: url(//pic.c-ctrip.com/platform/online/my/home/un_qcode_mbweixin.png) -84px -150px no-repeat;
}

.widget_bind_weixin .i_mbwx_mobile {
    position: absolute;
    right: 20px;
    top: 188px;
}

.i_mbwx_mobile {
    width: 84px;
    height: 174px;
    background: url(//pic.c-ctrip.com/platform/online/my/home/un_qcode_mbweixin.png) 0 -84px no-repeat;
}

.widget_bind_weixin .i_mbwx_qcode {
    position: absolute;
    right: 28px;
    top: 218px;
}

.i_mbwx_qcode {
    width: 68px;
    height: 66px;
    background: url(//pic.c-ctrip.com/platform/online/my/home/un_qcode_mbweixin.png) -84px -84px no-repeat;
}

.box_widget_tit {
    position: relative;
    overflow: hidden;
}

.box_widget_member .box_widget_tit h3 {
    padding: 0;
}

em {
    font-style: normal;
}
.box_widget_con1{
    height: 22px;
}
#base_ft {
    width: 980px !important;
    clear: both;
    text-align: center;
    padding-top: 15px;
    margin: 0 auto 20px;
    line-height: 1.5;
    font-family: Arial, verdana !important;
    color: #4c4c4c;
    font-size: 12px;
}
#base_ft p {
    margin: 0;
    padding: 0;
}
#base_ft a {
    color: #4c4c4c;
    white-space: nowrap;
    text-decoration: none;
}
#base_ft .gns {
    margin-top: 7px;
}
#base_ft .icon-gns, .mod .icon-gns {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    background: url(//pic.c-ctrip.com/platform/online/home/phone_list20190617.png) 0 -235px;
    vertical-align: middle;
}
.mod .icon-gns, #base_ft .honour_wrap a, .honour_wrap a, .honour_wrap span, .footer .icon-code-wechat {
    background-image: url(//pic.c-ctrip.com/platform/online/home/phone_list20190617.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 0 0;
}
#base_ft .honour_wrap, .honour_wrap {
    display: inline-block;
    padding-top: 10px;
    *display: inline;
    *zoom: 1;
    text-align: left;
}
#base_ft .honour_wrap .honour1, .mod .honour_wrap .honour1 {
    background-position: -88px -50px;
    text-indent: 36px;
}
#base_ft .honour_wrap a, .honour_wrap a {
    background-image: url(//pic.c-ctrip.com/platform/online/home/phone_list20190617.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 0 0;
}
#base_ft .honour_wrap a {
    float: left;
    margin: 0 5px;
    width: 88px;
    height: 32px;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    font: 12px/32px Simsun;
    color: #666;
    overflow: hidden;
    text-indent: -99em;
    white-space: normal;
}
#base_ft .honour_wrap .honour2, .mod .honour_wrap .honour2 {
    background-position: -88px -85px;
    text-indent: 36px;
}
#base_ft .honour_wrap .honour3, .mod .honour_wrap .honour3 {
    background-position: 0 -50px;
}
#base_ft .honour_wrap .honour4, .mod .honour_wrap .honour4 {
    background-position: -88px -118px;
    text-indent: 0;
    padding: 2px 0 2px 37px;
    width: 51px;
    height: 28px;
    line-height: 1.2;
}
#base_ft .honour_wrap .honour5, .mod .honour_wrap .honour5 {
    width: 95px;
    background-position: 0 -387px;
}
#base_ft .honour_wrap .honour6, .mod .honour_wrap .honour6 {
    background-position: 0 -118px;
}
#base_ft .honour_wrap .honour8, .mod .honour_wrap .honour8 {
    background-position: 0 -193px;
    width: 90px;
}