<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.mapper.tripWayMapper" >
  <resultMap id="BaseResultMap" type="org.lanqiao.entity.tripWay" >
    <id column="journey_way_id" property="journeyWayId" jdbcType="INTEGER" />
    <result column="way_name" property="wayName" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    journey_way_id, way_name, type_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from journey_way
    where journey_way_id = #{journeyWayId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from journey_way
    where journey_way_id = #{journeyWayId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.lanqiao.entity.tripWay" >
    insert into journey_way (journey_way_id, way_name, type_id
      )
    values (#{journeyWayId,jdbcType=INTEGER}, #{wayName,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.lanqiao.entity.tripWay" >
    insert into journey_way
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="journeyWayId != null" >
        journey_way_id,
      </if>
      <if test="wayName != null" >
        way_name,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="journeyWayId != null" >
        #{journeyWayId,jdbcType=INTEGER},
      </if>
      <if test="wayName != null" >
        #{wayName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lanqiao.entity.tripWay" >
    update journey_way
    <set >
      <if test="wayName != null" >
        way_name = #{wayName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
    </set>
    where journey_way_id = #{journeyWayId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lanqiao.entity.tripWay" >
    update journey_way
    set way_name = #{wayName,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER}
    where journey_way_id = #{journeyWayId,jdbcType=INTEGER}
  </update>
</mapper>